<html>
  <head>
	<title th:text=${user.name}></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://www.cleberg.io/assets/codepen/material-kit.css?v=2.0.6"
    />

    <link rel="stylesheet" href="/template_resources/template3/css/index.css" />
 </head>

  <body class="sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#" th:text=${user.name}></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-0">
            <li class="nav-item">
              <a
                class="nav-link"
                href="#education"
                rel="noopener,nofollow"
                >Education</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#jobinternship"
                rel="noopener,nofollow"
                >Job/Internships</a
              >
            </li>
             <li class="nav-item">
              <a
                class="nav-link"
                href="#volunteer"
                rel="noopener,nofollow"
                >Volunteer work</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#skills"
                rel="noopener,nofollow"
                >Skills</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#course"
                rel="noopener,nofollow"
                >Course & Certifications</a
              >
            </li>
             <li class="nav-item">
              <a
                class="nav-link"
                href="#projects"
                rel="noopener,nofollow"
                >Projects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#contact"
                rel="noopener,nofollow"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-header header-filter clear-filter purple-filter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
              <h1 th:text="${user.personalInformation.name}"></h1>
              <p class="lead" th:text="${user.personalInformation.title}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised" id="education">
      <h2 class="text-center">Education</h2>
      <div class="container">
        <div class="row">
        
          <div class="col-md-6" th:each="graduation : ${user.graduations}">
            <div class="card">
              <div class="card-header card-header-text card-header-danger">
                <div class="card-text">
                  <h4 class="card-title" th:text="${graduation.universityName}"></h4>
                </div>
              </div>
              <div class="card-body">
                <span th:text="|${graduation.type} ( ${graduation.filedOfStudy} )|"></span>
                <div class="d-flex justify-content-between">
                  <span th:text="| Average: ${graduation.grade}|"></span>
                  
                  <span class="text-primary" th:text="|( ${graduation.completionMonth}-${graduation.completionYear} )|" th:if="${not graduation.currentStatus}"></span>
                  
                  <span class="text-primary" th:text="|Currently Pursuing|" th:if="${graduation.currentStatus}"></span>
   
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="container" id="jobinternship">
        <hr class="padded-hr" />
        <h2 class="text-center" >Job / Internships</h2>
        
         <div class="experience-section" th:each="jobInternship: ${user.jobInternships}">
          <h3 th:text="${jobInternship.title}"></h3>
          <div class="d-flex justify-content-between">
            <p th:text="${jobInternship.company}"></p>
            
            <p class="text-primary" th:text="|${jobInternship.startMonth} ${jobInternship.startYear} - ${jobInternship.endMonth} ${jobInternship.endYear}|"
												th:if="${not jobInternship.currentStatus}"></p>
												
		    <p class="text-primary" th:text="|${jobInternship.startMonth} ${jobInternship.startYear} - Present|"
												th:if="${jobInternship.currentStatus}"></p>
            
            
          </div>
          <p th:text="${jobInternship.description}">
          </p>
          <p><a th:href="${jobInternship.attachment}" target="_blank">Attachment</a><p>
            
        </div>
       
      </div>

	  <div class="container" id="volunteer">
        <hr class="padded-hr" />
        <h2 class="text-center" >Volunteer work</h2>
        
         <div class="experience-section" th:each="volunteer: ${user.volunteers}">
          <h3 th:text="${volunteer.role}"></h3>
          <div class="d-flex justify-content-between">
            <p th:text="${volunteer.organization}"></p>
            
            <p class="text-primary" th:text="|${volunteer.startMonth} ${volunteer.startYear} - ${volunteer.endMonth} ${volunteer.endYear}|"
											th:if="${not volunteer.currentStatus}"></p>
												
		    <p class="text-primary" th:text="|${volunteer.startMonth} ${volunteer.startYear} - Present|"
											th:if="${volunteer.currentStatus}"></p>
            
            
          </div>
          <p th:text="${volunteer.description}">
          </p>
          <p><a th:href="${volunteer.attachment}" target="_blank">Attachment</a><p>
            
        </div>
       
      </div>

      <div class="container" id="skills">
        <hr class="padded-hr" />
        <h2 class="text-center">Skills</h2>
        <div class="row">
        
          <div class="col-md text-center" th:each="technicalSkill: ${user.technicalSkills}">
          
            <h5 class="font-weight-bold">Technical</h5>
           
				<p th:text="${technicalSkill.name}"></p>
			
           
          </div>
          
          <div class="col-md text-center">
            <h5 class="font-weight-bold">Other</h5>
             <div th:each="otherSkill: ${user.otherSkills}">
            	<p th:text="${otherSkill.name}"></p>
            </div>
            
          </div>
        </div>
      </div>

      <div class="container" id="course">
        <hr class="padded-hr" />
        <h2 class="text-center">Courses & Certifications</h2>
        <div class="row">
        
          <div class="col-md text-center" th:each="course : ${user.courses}">
            <h5 class="font-weight-bold" th:text="| ${course.name} ( ${course.instituteName} )|"></h5>
            
            <p th:text="Pursuing" th:if="${course.currentStatus}"></p>
										
			<p th:text="|${course.completionMonth}, ${course.completionYear}|" th:if="${not course.currentStatus}"></p>
			
			<p> <a th:href="${course.url}">attachment Url</a> </p>
          
           
          </div>
          
          <div class="col-md text-center" th:each="certification : ${user.certifications}">
            <h5 class="font-weight-bold" th:text="| ${certification.title} ( ${certification.instituteName} )|"></h5>
            <p th:text="|${certification.month}, ${certification.year}|" ></p>
            <p><a th:href="${certification.attachment}">View</a></p>
			
			
          </div>
        </div>
      </div>

      <div class="container" id="projects">
        <hr class="padded-hr" />
        <h2 class="text-center">Projects</h2>
        <div class="row">
        
          <div class="col-md" th:each="project: ${user.projects}">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" th:text="${project.name}">Project Name</h4>
                <h6 class="card-subtitle mb-2" th:text="|( ${project.startMonth} ${project.startYear} - ${project.endMonth} ${project.endYear} )|"
						th:if="${not project.currentStatus}">
                  
                </h6>
                <h6 class="card-subtitle mb-2" th:text="|( {${project.startMonth} ${project.startYear} - Currently working )|"
						th:if="${project.currentStatus}">
                  
                </h6>
                <p class="card-text" th:text="${project.description}">
                 
                </p>
                <a
                  target="_blank" th:href="${project.projectUrl}"
                  class="btn btn-outline-primary"
                  rel="noopener,nofollow"
                  >View</a
                >
                <a
                  target="_blank" th:href="${project.sourceUrl}"
                  class="btn btn-outline-primary"
                  rel="noopener,nofollow">View source</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="contact">
        <hr class="padded-hr" />
        <h2 class="text-center">Contact Me Directly</h2>
        
        <div>
          <h3 class="text-center mb-4">Use My Details</h3>
          <div class="row pt-4">
            <div class="col-md">
              <div
                class="my-2 d-flex flex-row align-items-center justify-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path fill="none" d="M0 0h24v24H0V0z" />
                  <path
                    d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
                  />
                </svg>
                <a class="ml-3" th:text="${user.name}"></a>
              </div>
            </div>
            <div class="col-md">
              <div
                class="my-2 d-flex flex-row align-items-center justify-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path fill="none" d="M0 0h24v24H0V0z" />
                  <path
                    d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
                  />
                </svg>
                <a
                  class="ml-3"
                  th:href="|mailto:${user.contactInformation.mail}|"
                  rel="noopener,nofollow"
                  th:text="${user.contactInformation.mail}"
                  ></a
                >
              </div>
            </div>
            <div class="col-md">
              <div
                class="my-2 d-flex flex-row align-items-center justify-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path fill="none" d="M0 0h24v24H0V0z" />
                  <path
                    d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"
                  />
                </svg>
                <a class="ml-3" th:href="|tel:+91${user.contactInformation.contact}|" rel="noopener,nofollow"
                  th:text="|(+91)${user.contactInformation.contact}|"></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <a
        id="scrollBtn"
        href="#"
        class="btn btn-primary"
        aria-label="Scroll to top button"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path
            fill="#fff"
            d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"
          />
        </svg>
      </a>
    </div>
    <!-- ./main.main-raised -->
  </body>
  <script src="/template_resources/template3/js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"></script>

  <script src="https://www.cleberg.io/assets/codepen/bootstrap-material-design.min.js"></script>

  <script src="https://www.cleberg.io/assets/codepen/material-kit.min.js"></script>
	
  </html>
