<html>
  <head>
	<title th:text=${user.name}></title>
	<link
      href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic"
      rel="stylesheet"
      type="text/css"
    />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		
	<link rel="stylesheet" href="/template_resources/template5/css/index.css">
    <style>
    
    .text{
    	color: white;
    }
    .bg{
    	background: gray;
    }
    .textbg{
    	color: black;
    }
    
    </style>  
    
    </head>

  <body>
    <!-- MAIN CONTAINER -->
    <div id="main_container">
      <!-- HEADER -->
      <div id="header">
        <!-- LOGOTYPE/NAME -->
        <div class="header_logotype_container">
          <h1 class="logotype_name">
            <span class="purple" th:text="${user.personalInformation.name}" th:if="${user.personalInformation}"></span>
          </h1>
          <h2 class="logotype_occupation" th:text="${user.personalInformation.title}" th:if="${user.personalInformation}"></h2>
        </div>
        <!-- MAIN MENU -->
        <div class="header_menu_container">
          <ul class="download_print_buttons horizontal_list">
           
          </ul>
          <div class="clear"></div>
          <ul class="header_menu horizontal_list">
            
            <li><a class="no_border" href="#education">Education</a></li>
            <li><a href="#skill">Skills</a></li>
            <li><a href="#jobinternship">Job/Internship</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="#course">Courses & Certifications</a></li>
          </ul>
        </div>
      </div>
      <!-- LEFT COL -->
      <div id="left_col">
        
        <div>
          <div>
          <img class="profile_frame profile_picture" th:src="${user.personalInformation.picture}" alt="profile picture" th:if="${user.personalInformation}"> 
          </div>
        </div>
        
        <div class="hello_content">
          <h2>About</h2>
          <p th:text="${user.personalInformation.summary}" th:if="${user.personalInformation}">
          </p>
        </div>
        <div class="contact_details_content">
          <h2>Contact details</h2>
          <p class="purple">Phone:</p>
          <p>+<span th:text="${user.contactInformation.contact}" th:if="${user.contactInformation}"></span></p>
          <p class="purple">Email:</p>
          <p><span th:text="${user.contactInformation.mail}" th:if="${user.contactInformation}"></span></p>
        </div>
        <a th:href="|mailto:${user.contactInformation.mail}|" class="send_message_button" th:if="${user.contactInformation}">
          <span class="cut1"></span>
          <span class="cut2"></span>
          <span class="content"
            >Send me a message
            <span class="fontawesome-double-angle-right"></span
          ></span>
        </a>
        <div class="get_social_content">
          <h2>Get social</h2>
          <ul class="social_icons horizontal_list">
            <li>
              <a class="facebook" target="_blank" th:href="${user.socialInformation.facebookUrl}" th:if="${user.socialInformation}">
                <span class="fa fa-facebook"></span
                ><span >Facebook</span></a
              >
            </li>
            <li>
              <a class="instagram" target="_blank" th:href="${user.socialInformation.instagramUrl}" th:if="${user.socialInformation}"
                ><span class="fa fa-instagram"></span
                ><span >Instagram</span></a
              >
            </li>
            <li>
              <a class="linkedin" target="_blank" th:href="${user.socialInformation.linkedinUrl}" th:if="${user.socialInformation}"
                ><span class="fa fa-linkedin"></span
                ><span>LinkedIn&nbsp;&nbsp;&nbsp;</span></a
              >
            </li>
            <li>
              <a class="github" target="_blank" th:href="${user.socialInformation.githubUrl}" th:if="${user.socialInformation}"
                ><span class="fa fa-github"></span
                ><span >Github</span></a
              >
            </li>
            
          </ul>
        </div>
      </div>
      <!-- PROFILE CONTENT -->
      <div id="content_container" >
      
      	 <div class="block" id="education">
          <h2>Education</h2>
          <ul>
	          <span th:each="graduation : ${user.graduations}" th:if="${user.graduations}">
	          
	              <li th:text="${graduation.universityName}">
	             
			      </li>
			      
			       <span class="block text" th:text="|${graduation.type} ( ${graduation.filedOfStudy} )|">
			       
			       </span> 
			       <br>
			       <span class="block text" th:text="Pursuing" th:if="${graduation.currentStatus}" ></span>
						
					<span class="block text" th:text="|( ${graduation.completionMonth}-${graduation.completionYear} )|" th:if="${not graduation.currentStatus}">
					</span>
						<br>
					<span class="block text" th:text="| Average: ${graduation.grade}|">
					</span>
					
			  </span>
              
            </ul>
          
        </div>
        
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        
        <div class="block" id="skill">
          <h2>Skills</h2>
          
          <div class="philosophy_content">
           
            <ul>
              <span class="block text"><u>Technical Skill</u></span>
              <li th:each="technicalSkill: ${user.technicalSkills}" th:if="${user.technicalSkills}">
              	<span th:text="${technicalSkill.name}"></span>
              </li>
            </ul>
             <ul>
             	<span class="block text"><u>Other Skill</u></span>
             	<li th:each="otherSkill: ${user.otherSkills}" th:if="${user.otherSkills}">
					<span th:text="${otherSkill.name}"></span>
				</li>
            </ul>
            
            <div class="clear"></div>
          </div>
        </div>
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        <div class="last block" id="jobinternship">
          <h2>Job / Internship</h2>
          
          <ul>
            <span th:each="jobInternship: ${user.jobInternships}" th:if="${user.jobInternships}">
	          
	              <li th:text="${jobInternship.title}">
	             
			      </li>
			      
			       <span class="block text" th:text="${jobInternship.company}">
			       
			       </span> 
			       <br>
			       
			       <span class="block text" th:text="${jobInternship.description}">
			       
			       </span>
			       <br>
			       
			       <small class="block text" th:text="|( ${jobInternship.startMonth} ${jobInternship.startYear} - ${jobInternship.endMonth} ${jobInternship.endYear} )|"
												th:if="${not jobInternship.currentStatus}"></small>
					<small class="block text" th:text="|( ${jobInternship.startMonth} ${jobInternship.startYear} - present )|"
							th:if="${jobInternship.currentStatus}"></small>
			       
			       
			       <small>
			       <a class="block text" th:href="${jobInternship.attachment}" target="_blank">view attachment</a>
			       </small>
			      
			  </span>
          </ul>
        </div>
        
        
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        
        <div class="last block" id="project">
          <h2>Projects</h2>
          
          <ul>
            <span th:each="project: ${user.projects}" th:if="${user.projects}">
	          
	              <li th:text="${project.name}">
	             
			      </li>
			      
			       <span class="block text" th:text="${project.company}">
			       
			       </span> 
			       <br>
			       
			       <span class="block text" th:text="${project.description}">
			       
			       </span>
			       <br>
			    
			       <small class="block">
			       	
			       	<a class="bg textbg" target="_blank" th:href="${project.sourceUrl}">
			       	<b>View Source</b></a>
					<a class="bg textbg" target="_blank" th:href="${project.projectUrl}">
					<b>View Project</b></a>
			       	
			       </small>
			      
			  </span>
          </ul>
        </div>
        
        
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        
        <div class="last block" id="course">
          <h2>Courses & Certifications</h2>
          
          <ul>
            <span th:each="course : ${user.courses}" th:if="${user.courses}">
	          
	              <li th:text="| ${course.name} ( ${course.instituteName} )|">
	             
			      </li>
			      
			       <small class="block text" th:text="Pursuing" th:if="${course.currentStatus}"></small>
										
				   <small class="block text" th:text="|${course.completionMonth}, ${course.completionYear}|" th:if="${not course.currentStatus}"></small>
			       
			       <br>
			    
			       <small class="block">
			       	
			       	<a class="bg textbg" target="_blank" th:href="${course.attachment}">
			       	<b>course attachment</b></a>
					
			       	
			       </small>
			      
			  </span>
          </ul>
          
          
          <ul>
            <span th:each="certification : ${user.certifications}" th:if="${user.certifications}">
	          
	              <li th:text="| ${certification.title} ( ${certification.instituteName} )|">
	             
			      </li>
			      
				   <small class="block text" th:text="|${certification.month}, ${certification.year}|" ></small>
			       
			       <br>
			    
			       <small class="block">
			       	
			       	<a class="bg textbg" target="_blank" th:href="${certification.attachment}">
			       	<b>certification attachment</b></a>
					
			       	
			       </small>
			      
			  </span>
          </ul>
          
          
        </div>
        
        
      </div>
      <div class="clear"></div>
      <!-- FOOTER -->
      <div id="footer">
        <p class="footer_name">copy rights @ Dharmik Joshi</p>
      </div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</html>
