<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Resume Builder</title><meta charset="UTF-8" />
        <link rel="shortcut icon" sizes="32x32" href="img/title_logo.png"  type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="css/matrix-login.css" />
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
		<script src="js/details/path.js"></script>
    </head>
    <body>
        <div id="loginbox">            
            
            <form id="loginform" class="form-vertical" action="javascript:void(0);" method="post" onsubmit="checkCredentials()">
				 <div class="control-group normal_text"> <h3><img src="img/logo1.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Username" name="username" required/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="password" required/>
                        </div>
                    </div>
                </div>
                
                
                <span class="pull-left"><a href="loginWithOtp" class="flip-link" style="color: grey;">Login with OTP?</a></span>
                
                
                <div class="form-actions">
                    <span class="pull-left"><a href="emailVerification" class="btn btn-info">Sign up</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-success" value="Login"></span>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                    	<div class="main_input_box">
                    	<p class="normal_text" id="msg"></p>
               			</div>
               		</div>
               	</div>
                
	                
            </form>
            
            
        </div>
        <script src="js/functionality/login.js"></script>  
        <script src="js/jquery.min.js"></script>  
        <script src="js/matrix.login.js"></script> 
    </body>

</html>
