<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resume Builder</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />

    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>
  </head>
  <body onload="onLoadPopulate()">
    <!--Header-part-->
    <div id="header">
      <h1><a href="template">Resume Builder</a></h1>
    </div>
    <!--close-Header-part-->

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
      <ul class="nav">
        <li class="dropdown" id="profile-messages">
          <a
            title=""
            href="#"
            data-toggle="dropdown"
            data-target="#profile-messages"
            class="dropdown-toggle"
            ><i class="icon icon-user"></i>
            <span class="text">Welcome User</span><b class="caret"></b
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><i class="icon-user"></i> My Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#"><i class="icon-check"></i> My Tasks</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="logout"><i class="icon-key"></i> Log Out</a>
            </li>
          </ul>
        </li>

        <li class="">
          <a title="" href="#"
            ><i class="icon icon-cog"></i> <span class="text">Settings</span></a
          >
        </li>
        <li class="">
          <a title="" href="logout"
            ><i class="icon icon-share-alt"></i>
            <span class="text">Logout</span></a
          >
        </li>
      </ul>
    </div>
    <!--close-top-Header-menu-->

    <!--sidebar-menu-->
    <div id="sidebar">
      <a href="work" class="visible-phone"
        ><i class="fas fa-sitemap"></i> Work Experience
      </a>
      <ul>
      	<li>
          <a href="dashboard">
            <i class="icon-dashboard"></i><span>Dashboard</span></a
          >
        </li>
        <li>
          <a href="template">
            <i class="fas fa-sitemap"></i><span>Template</span></a
          >
        </li>
        <li class="submenu">
          <a href="#"
            ><i class="icon icon-th-list"></i> <span>General</span>
            <!-- <span class="label label-important">4</span> -->
          </a>
          <ul>
            <li>
              <a href="personal"> <span>Personal</span></a>
            </li>
            <li>
              <a href="contact"> <span>Contact</span></a>
            </li>
          </ul>
        </li>

        <li>
          <a href="education"
            ><i class="fas fa-book"> </i><span>Education</span>
            <!-- <span class="label label-important">3</span> -->
          </a>
        </li>

        <li>
          <a href="skill">
            <i class="fas fa-pencil-ruler"></i> <span>Skills</span>
            <!-- <span class="label label-important">3</span> -->
          </a>
        </li>

        <li class="active">
          <a href="work">
            <i class="fas fa-briefcase"></i> <span>Work Experience</span>
            <!-- <span class="label label-important">3</span> -->
          </a>
        </li>
      </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
      <!--breadcrumbs-->
      <div id="content-header">
        <div id="breadcrumb">
          <a href="work" title="Go to General" class="tip-bottom">
            <i class="fas fa-briefcase"></i>
            Work Experience
          </a>
        </div>
        <h1>What's your most recent work experience?</h1>
      </div>
      <!--End-breadcrumbs-->

      <div class="container-fluid">
        <hr />

        <div class="row-fluid">
          <div class="span4">
            <button
              class="btn btn-info btn-large"
              style="border-radius: 25px;"
              data-toggle="modal"
              href="#jobForm"
              id="addJob"
            >
              + Add Job/Internship
            </button>

            <div id="jobForm" class="modal hide">
              <div class="modal-header">
                <button
                  data-dismiss="modal"
                  class="close"
                  id="modalJobInternship"
                  type="button"
                >
                  ×
                </button>
                <h3>Job/Internship Detail</h3>
              </div>
              <div class="modal-body">
                <form
                  action="javascript:void(0);"
                  method="get"
                  name="jobInternshipInformationForm"
                  id="jobInternshipInformationForm"
                  onsubmit="jobInternshipFormProcess()"
                  class="form-horizontal"
                >
                  <input type="hidden" id="jobId" name="jobId" value="0" />
                  <input type="hidden" name="view" id="view" value="true">
                  <div class="control-group">
                    <label class="control-label">Title :</label>
                    <div class="controls">
                      <input
                        type="text"
                        id="jobInternshipTitle"
                        name="jobInternshipTitle"
                        required
                        class="span11"
                        placeholder="e.g. Product Manager"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label"
                      >Company / Organization Name :</label
                    >
                    <div class="controls">
                      <input
                        type="text"
                        id="jobInternshipCompanyName"
                        required
                        name="jobInternshipCompanyName"
                        class="span11"
                        placeholder="e.g. ORACLE"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Country: </label>
                    <div class="controls">
                      <select
                        id="jobInternshipCountry"
                        name="jobInternshipCountry"
                      >
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">State/Province : </label>
                    <div class="controls">
                      <select id="jobInternshipState" name="jobInternshipState">
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Pune">Pune</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">City : </label>
                    <div class="controls">
                      <select id="jobInternshipCity" name="jobInternshipCity">
                        <option value="Mumbai">Mumbai</option>
                        <option value="New york">New york</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Start Month : </label>
                    <div class="controls">
                      <select
                        class="span4 m-wrap"
                        id="jobInternshipStartMonth"
                        name="jobInternshipStartMonth"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">Start Year : </label>
                    <div class="controls">
                      <select
                        class="span3 m-wrap"
                        id="jobInternshipStartYear"
                        name="jobInternshipStartYear"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <label>
                        <input
                          type="checkbox"
                          id="jobInternshipCurrentStatus"
                        />
                        I currently work here</label
                      >
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">End Month : </label>
                    <div class="controls">
                      <select
                        class="span4 m-wrap"
                        id="jobInternshipEndMonth"
                        name="jobInternshipEndMonth"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">End Year : </label>
                    <div class="controls">
                      <select
                        class="span3 m-wrap"
                        id="jobInternshipEndYear"
                        name="jobInternshipEndYear"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Describe your work: </label>
                    <div class="controls">
                      <textarea
                        class="span11"
                        placeholder="Ex. Worked on Web applications, Chatbot, Scrapping tool and API integration"
                        name="jobInternshipDescription"
                        id="jobInternshipDescription"
                        required
                      ></textarea>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label"
                      >Add or link to external documents, photos, sites, videos,
                      and presentations:
                    </label>
                    <div class="controls">
                      <input
                        type="file"
                        name="jobInternshipFile"
                        id="jobInternshipFile"
                      />
                      <input
                        type="hidden"
                        name="jobInternshipAttachment"
                        id="jobInternshipAttachment"
                      />
                      <input
                        type="hidden"
                        name="jobInternshipTypeOfAttachment"
                        id="jobInternshipTypeOfAttachment"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success btn-large">
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" class="btn" href="#">Cancel</a>
              </div>
            </div>

            <div class="widget-box">
              <div class="widget-title bg_lo" data-toggle="collapse">
                <span class="icon"> <i class="fas fa-briefcase"></i> </span>
                <h5>Job Experience</h5>
              </div>
              <div
                class="widget-content nopadding updates collapse in"
                id="jobContainer"
              >
                <div class="new-update clearfix">
                  <i class="icon-ok-sign"></i>
                  <div class="update-done">
                    <a title="" href="#"><strong>Product Manager</strong></a>
                    <span>ORACLE</span>
                    <span>( June 2010 - June 2012 )</span>
                    <span
                      >Worked on Web applications, Chatbot, Scrapping tool and
                      API integration</span
                    >
                  </div>
                  <div class="update-date">
                    <span class="update-day"
                      ><i class="icon icon-edit"></i>
                      <i class="icon icon-trash"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div class="span4">
            <button
              class="btn btn-info btn-large"
              style="border-radius: 25px;"
              data-toggle="modal"
              href="#volunteerForm"
              id="addVolunteer"
            >
              + Add volunteer experience
            </button>

            <div id="volunteerForm" class="modal hide">
              <div class="modal-header">
                <button
                  data-dismiss="modal"
                  class="close"
                  type="button"
                  id="modalVolunteer"
                >
                  ×
                </button>
                <h3>Volunteer Detail</h3>
              </div>
              <div class="modal-body">
                <form
                  action="javascript:void(0);"
                  method="get"
                  name="volunteerInformationForm"
                  id="volunteerInformationForm"
                  onsubmit="volunteerFormProcess()"
                  class="form-horizontal"
                >
                  <input
                    type="hidden"
                    id="volunteerId"
                    name="volunteerId"
                    value="0"
                  />
                  <input type="hidden" name="view" id="view" value="true">
                  <div class="control-group">
                    <label class="control-label">Role :</label>
                    <div class="controls">
                      <input
                        type="text"
                        id="volunteerRole"
                        name="volunteerRole"
                        required
                        class="span11"
                        placeholder="e.g. Product Manager"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Organization Name :</label>
                    <div class="controls">
                      <input
                        type="text"
                        id="volunteerOrganization"
                        name="volunteerOrganization"
                        required
                        class="span11"
                        placeholder="e.g. ORACLE"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Start Month : </label>
                    <div class="controls">
                      <select
                        id="volunteerStartMonth"
                        name="volunteerStartMonth"
                        class="span4 m-wrap"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest ">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">Start Year : </label>
                    <div class="controls">
                      <select
                        id="volunteerStartYear"
                        name="volunteerStartYear"
                        class="span3 m-wrap"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <label>
                        <input
                          type="checkbox"
                          name="volunteerCurrentStatus"
                          id="volunteerCurrentStatus"
                        />
                        I currently work here</label
                      >
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">End Month : </label>
                    <div class="controls">
                      <select
                        id="volunteerEndMonth"
                        name="volunteerEndMonth"
                        class="span4 m-wrap"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">End Year : </label>
                    <div class="controls">
                      <select
                        id="volunteerEndYear"
                        name="volunteerEndYear"
                        class="span3 m-wrap"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Describe your work: </label>
                    <div class="controls">
                      <textarea
                        id="volunteerDescription"
                        name="volunteerDescription"
                        class="span11"
                        placeholder="Ex. I raised funds for our annual charity 10K."
                        required
                      ></textarea>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label"
                      >Add or link to external documents, photos, sites, videos,
                      and presentations:
                    </label>
                    <div class="controls">
                      <input
                        type="file"
                        id="volunteerAttachmentFile"
                        name="volunteerAttachmentFile"
                      />
                      <input
                        type="hidden"
                        id="volunteerAttachment"
                        name="volunteerAttachment"
                      />
                      <input
                        type="hidden"
                        id="volunteerTypeOfAttachment"
                        name="volunteerTypeOfAttachment"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success btn-large">
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" class="btn" href="#">Cancel</a>
              </div>
            </div>

            <div class="widget-box">
              <div class="widget-title bg_lo" data-toggle="collapse">
                <span class="icon"> <i class="fas fa-ribbon"></i> </span>
                <h5>Volunteer Experince</h5>
              </div>
              <div
                class="widget-content nopadding updates collapse in"
                id="volunteerContainer"
              >
                <div class="new-update clearfix">
                  <i class="icon-ok-sign"></i>
                  <div class="update-done">
                    <a title="" href="#"
                      ><strong>Fund raising Volunteer</strong></a
                    >
                    <span>Robihood Army</span>
                    <span>( June 2010 - June 2012 )</span>
                    <span>I raised funds for our annual charity 10K</span>
                  </div>
                  <div class="update-date">
                    <span class="update-day"
                      ><i class="icon icon-edit"></i>
                      <i class="icon icon-trash"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div class="span4">
            <button
              class="btn btn-info btn-large"
              style="border-radius: 25px;"
              data-toggle="modal"
              href="#projectForm"
              id="addProject"
            >
              + Add Project
            </button>

            <div id="projectForm" class="modal hide">
              <div class="modal-header">
                <button
                  data-dismiss="modal"
                  class="close"
                  id="modalProject"
                  type="button"
                >
                  ×
                </button>
                <h3>Project Detail</h3>
              </div>
              <div class="modal-body">
                <form
                  action="javascript:void(0);"
                  method="get"
                  id="projectInformationForm"
                  name="projectInformationForm"
                  onsubmit="projectFormProcess()"
                  class="form-horizontal"
                >
                  <input type="hidden" id="projectId" name="projectId" />
                  <input type="hidden" name="view" id="view" value="true">
                  <div class="control-group">
                    <label class="control-label">Project name:</label>
                    <div class="controls">
                      <input
                        type="text"
                        id="projectName"
                        name="projectName"
                        class="span11"
                        placeholder="e.g. Product Manager"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Start Month : </label>
                    <div class="controls">
                      <select
                        id="projectStartMonth"
                        name="projectStartMonth"
                        class="span4 m-wrap"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">Start Year : </label>
                    <div class="controls">
                      <select
                        id="projectStartYear"
                        name="projectStartYear"
                        class="span3 m-wrap"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <label>
                        <input
                          type="checkbox"
                          name="projectCurrentStatus"
                          id="projectCurrentStatus"
                        />
                        I am currently working on this project</label
                      >
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">End Month : </label>
                    <div class="controls">
                      <select
                        id="projectEndMonth"
                        name="projectEndMonth"
                        class="span4 m-wrap"
                      >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="January">April</option>
                        <option value="April">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Augest">Augest</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>

                    <label class="control-label">End Year : </label>
                    <div class="controls">
                      <select
                        id="projectEndYear"
                        name="projectEndYear"
                        class="span3 m-wrap"
                      >
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Associated with :</label>
                    <div class="controls">
                      <input
                        type="text"
                        id="projectAssociated"
                        name="projectAssociated"
                        class="span11"
                        placeholder="e.g. ORACLE"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Description: </label>
                    <div class="controls">
                      <textarea
                        id="projectDescription"
                        name="projectDescription"
                        class="span11"
                        placeholder="Ex. I raised funds for our annual charity 10K."
                      ></textarea>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Project URL: </label>
                    <div class="controls">
                      <input type="url" name="projectUrl" id="projectUrl" />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Repository/Source URL: </label>
                    <div class="controls">
                      <input type="url" name="sourceUrl" id="sourceUrl" />
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Project Picture: </label>
                    <div class="controls">
                      <input
                        type="file"
                        name="projectAttachmentFile"
                        id="projectAttachmentFile"
                      />
                      <input
                        type="hidden"
                        name="projectAttachment"
                        id="projectAttachment"
                      />
                      <input
                        type="hidden"
                        name="projectTypeOfAttachment"
                        id="projectTypeOfAttachment"
                      />
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success btn-large">
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" class="btn" href="#">Cancel</a>
              </div>
            </div>

            <div class="widget-box">
              <div class="widget-title bg_lo" data-toggle="collapse">
                <span class="icon">
                  <i class="fas fa-project-diagram"></i>
                </span>
                <h5>Projects</h5>
              </div>
              <div
                class="widget-content nopadding updates collapse in"
                id="projectContainer"
              >
                <div class="new-update clearfix">
                  <i class="icon-ok-sign"></i>
                  <div class="update-done">
                    <a title="" href="#"><strong> AI Health Portal </strong></a>
                    <span> Associated with: Google </span>
                    <span>( June 2010 - June 2012 )</span>
                    <span>Smart health portal for disease prediction</span>
                    <span
                      ><a><b>project link</b></a>
                      <a><b>project Source link</b></a>
                    </span>
                    <span>
                      <a href="#attachmentModal" data-toggle="modal"
                        ><b>view picture</b></a
                      >
                    </span>

                    <div id="attachmentModal" class="modal hide">
                      <div class="modal-header">
                        <button
                          data-dismiss="modal"
                          class="close"
                          type="button"
                        >
                          ×
                        </button>
                        <h3>attachment</h3>
                      </div>

                      <div class="modal-body">
                        <p>
                          <img
                            id="projectAttachment"
                            src="img/gallery/imgbox3.jpg"
                          />
                        </p>
                      </div>

                      <div class="modal-footer">
                        <a data-dismiss="modal" class="btn btn-inverse" href="#"
                          >Cancel</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="update-date">
                    <span class="update-day"
                      ><i class="icon icon-edit"></i>
                      <i class="icon icon-trash"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <!--Footer-part-->

    <div class="row-fluid">
      <div id="footer" class="span12">
        2020 &copy; Resume Builder. Brought to you by
        <a href="#">Dharmik Joshi</a>
      </div>
    </div>

    <input type="hidden" th:value="${userId}" id="uId" />

    <!--end-Footer-part-->

    <script src="js/excanvas.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flot.min.js"></script>
    <script src="js/jquery.flot.resize.min.js"></script>
    <script src="js/jquery.peity.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/matrix.dashboard.js"></script>
    <script src="js/jquery.gritter.min.js"></script>
    <script src="js/matrix.interface.js"></script>
    <script src="js/matrix.chat.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/matrix.form_validation.js"></script>
    <script src="js/jquery.wizard.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/matrix.popover.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/matrix.tables.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>

    <!--Functionality-->
    <script src="js/functionality/work.js"></script>

    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage(newURL) {
        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-") {
            resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
        }
      }

      // resets the menu selection upon entry to this page:
      function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
      }
    </script>
  </body>
</html>
