<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text=${user.name} th:if=${user}></title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- Vendor CSS Files -->
  <link href="/template_resources/template7/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/template_resources/template7/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/template_resources/template7/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/template_resources/template7/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/template_resources/template7/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/template_resources/template7/assets/vendor/aos/aos.css" rel="stylesheet">
	
  <!-- Template Main CSS File -->
  <link href="/template_resources/template7/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img th:src="${user.personalInformation.picture}" th:if="${user.personalInformation}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#" ><span th:text="${user.personalInformation.name}" th:if="${user.personalInformation}"></span></a></h1>
        <div class="social-links mt-3 text-center">
          
          <a target="_blank" th:href="${user.socialInformation.facebookUrl}" th:if="${user.socialInformation}" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a target="_blank" th:href="${user.socialInformation.instagramUrl}" th:if="${user.socialInformation}" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a target="_blank" th:href="${user.socialInformation.githubUrl}" th:if="${user.socialInformation}" class="google-plus"><i class="bx bxl-github"></i></a>
          <a target="_blank" th:href="${user.socialInformation.linkedinUrl}" th:if="${user.socialInformation}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a target="_blank" th:href="|mailto:@${user.socialInformation.googleUrl}|" th:if="${user.socialInformation}" class="twitter"><i class="fa fa-envelope"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href=""><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Projects</a></li>
          

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" >
    <div class="hero-container" data-aos="fade-in">
      <h1 th:text="${user.personalInformation.name}" th:if="${user.personalInformation}"></h1>
      <p><span th:text="${user.personalInformation.title}" th:if="${user.personalInformation}"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p th:text="${user.personalInformation.summary}" th:if="${user.personalInformation}"></p>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress" th:each="technicalSkill: ${user.technicalSkills}" th:if="${user.technicalSkills}">
              <span class="skill" th:text="${technicalSkill.name}" >
              	
              </span>
             
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress"  th:each="otherSkill: ${user.otherSkills}" th:if="${user.otherSkills}">
              <span class="skill" th:text="${otherSkill.name}"> 
              	
              </span>
              
            </div>


          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            
            <h3 class="resume-title">Education</h3>
            
            <div class="resume-item" th:each="graduation : ${user.graduations}" th:if="${user.graduations}">
              <h4 th:text="|${graduation.type} ( ${graduation.filedOfStudy} )|"></h4>
              <h5 th:text="Pursuing" th:if="${graduation.currentStatus}"></h5>
              <h5 th:text="|( ${graduation.completionMonth}-${graduation.completionYear} )|" th:if="${not graduation.currentStatus}"></h5>
              <p><em th:text="|${graduation.universityName}, ${graduation.state}, ${graduation.country}|"></em></p>
              
            </div>
            
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            
            <div class="resume-item" th:each="jobInternship: ${user.jobInternships}" th:if="${user.jobInternships}">
              <h4 th:text="${jobInternship.title}"></h4>
              <h5 th:text="|${jobInternship.startMonth} ${jobInternship.startYear} - ${jobInternship.endMonth} ${jobInternship.endYear}|"
				  th:if="${not jobInternship.currentStatus}"></h5>
			  <h5 th:text="|${jobInternship.startMonth} ${jobInternship.startYear} - Currently Working here|"
				  th:if="${jobInternship.currentStatus}"></h5>
              <p><em th:text="${jobInternship.company}"></em></p>
              <ul>
                <li th:text="${jobInternship.description}"></li>
              </ul>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

		  <div class="col-lg-4 col-md-6 portfolio-item" th:each="project: ${user.projects}" th:if="${user.projects}">
            <div class="portfolio-wrap">
              <img th:src="${project.attachment}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a th:href="${project.projectUrl}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-link"></i></a>
                <a th:href="${project.sourceUrl}" title="More Details"><i class="fas fa-code"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


  </main><!-- End #main -->

  
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/template_resources/template7/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/php-email-form/validate.js"></script>
  <script src="/template_resources/template7/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/template_resources/template7/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/template_resources/template7/assets/js/main.js"></script>

</body>

</html>